@import url('https://fonts.googleapis.com/css2?family=Hepta+Slab:wght@1..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    .hepta-slab-400 {
        font-family: "Hepta Slab", serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
    }

    html,
    body {
        @apply hepta-slab-400 bg-black
    }

}